<a href="https://colab.research.google.com/github/sandipanbasu/aiml-capstone/blob/master/cnnData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import tensorflow as tf
import tensorflow_datasets as tfds

import pandas as pd
import numpy as np

from tqdm import tqdm

In [ ]:
tf.__version__

'2.2.0'

In [ ]:
cd_path = "/content/drive/My Drive/AIML-MRC-Capstone/code/cnn-daily-mail"
cnn_file = "cnn_stories_tokenized.zip"
filePath = "/content/drive/My Drive/cnn-dailymail/cnn_stories_tokenized"

In [ ]:
print(filePath)

/content/drive/My Drive/cnn-dailymail/cnn_stories_tokenized

In [ ]:
!ls

adc.json  drive  sample_data

In [ ]:
!pip install -U -q PyDrive

In [ ]:
import os
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [ ]:
!unzip -q "/content/drive/My Drive/cnn-dailymail/cnn_stories_tokenized.zip"

In [ ]:
#!unzip "/content/drive/My Drive/cnn-dailymail/cnn_stories_tokenized.zip" -d "/content/drive/My Drive/cnn-dailymail/tknz/"

In [30]:
!ls

adc.json  cnn_stories_tokenized  drive	sample_data

In [ ]:
import os

list = os.listdir('/content/cnn_stories_tokenized') # dir is your directory path
number_files = len(list)
print(number_files)

92579

In [ ]:
list

['cnnData.ipynb', 'cnn_stories_tokenized', 'cnn_stories_tokenized.zip', 'tknz']

In [ ]:
def load_doc(filename):
	# open the file as read only
	file = open(filename, encoding='utf-8')
	# read all text
	text = file.read()
	# close the file
	file.close()
	return text

# load all stories in a directory
def load_stories(directory):
	stories = []
	for name in listdir(directory):
		filename = directory + '/' + name
		# load document
		doc = load_doc(filename)
		# split into story and highlights
		story, highlights = split_story(doc)
		# store
		stories.append({'story':story, 'highlights':highlights})
	return stories


# split a document into news story and highlights  
def split_story(doc):
	# find first highlight
	index = doc.find('@highlight')
	# split into story and highlights
	story, highlights = doc[:index], doc[index:].split('@highlight')
	# strip extra white space around each highlight
	highlights = [h.strip() for h in highlights if len(h) > 0]
	return story, highlights

In [ ]:
from os import listdir
 
 
# load stories
directory = '/content/cnn_stories_tokenized'
stories = load_stories(directory)

#print('Loaded Stories %d' % len(stories))

In [31]:
print('Loaded Stories %d' % len(stories))

Loaded Stories 92579

In [ ]:
print(stories[4]['story'])

-LRB- CNN -RRB- -- George Clooney sees no reason to keep his upcoming nuptials hush-hush .

At a celebrity charity event in Tuscany , Italy over the weekend , the 53-year-old actor spilled a few details about his impending marriage to British human rights attorney Amal Alamuddin .

According to People magazine , Clooney was receiving a humanitarian award at the black-tie gala , and said during his acceptance speech , `` I met my lovely bride-to-be here in Italy , whom I will be marrying , in a couple of weeks , in Venice , of all places . ''

The actor was of course accompanied at the soiree , called Celebrity Fight Night , by his 36-year-old fiancee . With Clooney 's documented penchant for pranks , it 'll be interesting to see whether he was telling the truth about his wedding plans -- or perhaps just playing a joke on any eager paparazzi .

Since the couple became engaged in the spring , they 've been largely protective of their relationship . When a Daily Mail report claimed that Clooney and his future mother-in-law were at odds , Clooney blasted the publication with a first-person piece in USA Today , and then refused to accept the Daily Mail 's subsequent apology .

In [ ]:
print(stories[4]['highlights'])

['George Clooney let a few wedding details slip over the weekend', "The actor revealed he 'll marry Amal Alamuddin in Venice , Italy , in a few weeks", 'The couple became engaged in the spring']

In [32]:
type(stories[0])

dict

In [33]:
stories_df = pd.DataFrame(stories)

In [35]:
len(stories_df)

92579

In [42]:
stories_df.head(5)

                                               story                                         highlights
0  -LRB- CNN -RRB- -- Snigdha Nandipati , 14 , wo...  [`` I was just taking it one word at a time , ...
1  -LRB- CNN -RRB- -- Passengers on a United Airl...  [NEW : Passenger says man stood up during flig...
2  -LRB- CNN -RRB- -- Britain 's Duke and Duchess...  [Britain 's Prince William and Kate have relea...
3  Los Angeles -LRB- CNN -RRB- -- Soap opera acto...  [Dylan Michael Patton was arrested at his home...
4  -LRB- CNN -RRB- -- George Clooney sees no reas...  [George Clooney let a few wedding details slip...

In [43]:
stories_df.to_csv("/content/drive/My Drive/cnn-dailymail/storiesdf.csv")

In [38]:
import pickle
stories_df.to_pickle()

In [41]:
stories_df.to_pickle("/content/drive/My Drive/cnn-dailymail/storiesdf.pkl")