<a href="https://colab.research.google.com/github/sandipanbasu/aiml-capstone/blob/master/mrc-data-with-squad.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install -U tensorflow==2.0

Collecting tensorflow==2.0
  Downloading https://files.pythonhosted.org/packages/46/0f/7bd55361168bb32796b360ad15a25de6966c9c1beb58a8e30c01c8279862/tensorflow-2.0.0-cp36-cp36m-manylinux2010_x86_64.whl (86.3MB)
     |████████████████████████████████| 86.3MB 66kB/s
Requirement already satisfied, skipping upgrade: absl-py>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.0) (0.9.0)
Requirement already satisfied, skipping upgrade: termcolor>=1.1.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.0) (1.1.0)
Requirement already satisfied, skipping upgrade: grpcio>=1.8.6 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.0) (1.28.1)
Requirement already satisfied, skipping upgrade: protobuf>=3.6.1 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.0) (3.10.0)
Requirement already satisfied, skipping upgrade: wrapt>=1.11.1 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.0) (1.12.1)
Requirement already satisfied, skipping upgrade: numpy<2.0,>=1.16.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.0) (1.18.4)
Requirement already satisfied, skipping upgrade: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.0) (1.12.0)
Requirement already satisfied, skipping upgrade: google-pasta>=0.1.6 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.0) (0.2.0)
Collecting gast==0.2.2
  Downloading https://files.pythonhosted.org/packages/4e/35/11749bf99b2d4e3cceb4d55ca22590b0d7c2c62b9de38ac4a4a7f4687421/gast-0.2.2.tar.gz
Requirement already satisfied, skipping upgrade: keras-applications>=1.0.8 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.0) (1.0.8)
Requirement already satisfied, skipping upgrade: keras-preprocessing>=1.0.5 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.0) (1.1.0)
Requirement already satisfied, skipping upgrade: opt-einsum>=2.3.2 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.0) (3.2.1)
Requirement already satisfied, skipping upgrade: astor>=0.6.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.0) (0.8.1)
Collecting tensorboard<2.1.0,>=2.0.0
  Downloading https://files.pythonhosted.org/packages/76/54/99b9d5d52d5cb732f099baaaf7740403e83fe6b0cedde940fabd2b13d75a/tensorboard-2.0.2-py3-none-any.whl (3.8MB)
     |████████████████████████████████| 3.8MB 35.7MB/s
Collecting tensorflow-estimator<2.1.0,>=2.0.0
  Downloading https://files.pythonhosted.org/packages/fc/08/8b927337b7019c374719145d1dceba21a8bb909b93b1ad6f8fb7d22c1ca1/tensorflow_estimator-2.0.1-py2.py3-none-any.whl (449kB)
     |████████████████████████████████| 450kB 40.9MB/s
Requirement already satisfied, skipping upgrade: wheel>=0.26 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.0) (0.34.2)
Requirement already satisfied, skipping upgrade: setuptools in /usr/local/lib/python3.6/dist-packages (from protobuf>=3.6.1->tensorflow==2.0) (46.3.0)
Requirement already satisfied, skipping upgrade: h5py in /usr/local/lib/python3.6/dist-packages (from keras-applications>=1.0.8->tensorflow==2.0) (2.10.0)
Requirement already satisfied, skipping upgrade: google-auth<2,>=1.6.3 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.1.0,>=2.0.0->tensorflow==2.0) (1.7.2)
Requirement already satisfied, skipping upgrade: markdown>=2.6.8 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.1.0,>=2.0.0->tensorflow==2.0) (3.2.1)
Requirement already satisfied, skipping upgrade: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.1.0,>=2.0.0->tensorflow==2.0) (0.4.1)
Requirement already satisfied, skipping upgrade: requests<3,>=2.21.0 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.1.0,>=2.0.0->tensorflow==2.0) (2.23.0)
Requirement already satisfied, skipping upgrade: werkzeug>=0.11.15 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.1.0,>=2.0.0->tensorflow==2.0) (1.0.1)
Requirement already satisfied, skipping upgrade: rsa<4.1,>=3.1.4 in /usr/local/lib/python3.6/dist-packages (from google-auth<2,>=1.6.3->tensorboard<2.1.0,>=2.0.0->tensorflow==2.0) (4.0)
Requirement already satisfied, skipping upgrade: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.6/dist-packages (from google-auth<2,>=1.6.3->tensorboard<2.1.0,>=2.0.0->tensorflow==2.0) (0.2.8)
Requirement already satisfied, skipping upgrade: cachetools<3.2,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from google-auth<2,>=1.6.3->tensorboard<2.1.0,>=2.0.0->tensorflow==2.0) (3.1.1)
Requirement already satisfied, skipping upgrade: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.1.0,>=2.0.0->tensorflow==2.0) (1.3.0)
Requirement already satisfied, skipping upgrade: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.21.0->tensorboard<2.1.0,>=2.0.0->tensorflow==2.0) (3.0.4)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.21.0->tensorboard<2.1.0,>=2.0.0->tensorflow==2.0) (2.9)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.21.0->tensorboard<2.1.0,>=2.0.0->tensorflow==2.0) (2020.4.5.1)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.21.0->tensorboard<2.1.0,>=2.0.0->tensorflow==2.0) (1.24.3)
Requirement already satisfied, skipping upgrade: pyasn1>=0.1.3 in /usr/local/lib/python3.6/dist-packages (from rsa<4.1,>=3.1.4->google-auth<2,>=1.6.3->tensorboard<2.1.0,>=2.0.0->tensorflow==2.0) (0.4.8)
Requirement already satisfied, skipping upgrade: oauthlib>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.1.0,>=2.0.0->tensorflow==2.0) (3.1.0)
Building wheels for collected packages: gast
  Building wheel for gast (setup.py) ... done
  Created wheel for gast: filename=gast-0.2.2-cp36-none-any.whl size=7540 sha256=43777998d263ee3f7f60c57dab4aa34e02b10a0d7e6f361072e39665f0a5def4
  Stored in directory: /root/.cache/pip/wheels/5c/2e/7e/a1d4d4fcebe6c381f378ce7743a3ced3699feb89bcfbdadadd
Successfully built gast
ERROR: tensorflow-probability 0.10.0rc0 has requirement gast>=0.3.2, but you'll have gast 0.2.2 which is incompatible.
Installing collected packages: gast, tensorboard, tensorflow-estimator, tensorflow
  Found existing installation: gast 0.3.3
    Uninstalling gast-0.3.3:
      Successfully uninstalled gast-0.3.3
  Found existing installation: tensorboard 2.2.1
    Uninstalling tensorboard-2.2.1:
      Successfully uninstalled tensorboard-2.2.1
  Found existing installation: tensorflow-estimator 2.2.0
    Uninstalling tensorflow-estimator-2.2.0:
      Successfully uninstalled tensorflow-estimator-2.2.0
  Found existing installation: tensorflow 2.2.0
    Uninstalling tensorflow-2.2.0:
      Successfully uninstalled tensorflow-2.2.0
Successfully installed gast-0.2.2 tensorboard-2.0.2 tensorflow-2.0.0 tensorflow-estimator-2.0.1

In [0]:
import tensorflow as tf

In [3]:
tf.__version__

'2.0.0'

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import json
import numpy as np
import pandas as pd
from pandas.io.json import json_normalize
from pprint import pprint

In [0]:
project_path = "/content/drive/My Drive/AIML-MRC-Capstone/datasets/Squad2.0/TrainingDataset/"
datafile = project_path+'train-v2.0.json'

In [0]:
with open(datafile) as data_file:
        dataset_json = json.load(data_file)  #on trying to dataset_json.head(n=10),throwing error 'dict' object has no attribute 'head'
       # dataset = dataset_json["data"] #on trying to dataset.head(n=10),throwing error 'list' object has no attribute 'head'

In [13]:
# Explore JSON file

# Inspect Nested Keys
print('top-level-keys: {}'.format(list(dataset_json.keys())))
print('data keys: {}'.format(list(dataset_json['data'][0].keys())))
print('paragraphs keys: {}'.format(list(dataset_json['data'][0]['paragraphs'][0].keys())))
print('qas keys: {}'.format(list(dataset_json['data'][0]['paragraphs'][0]['qas'][0].keys())))
print('answers keys: {}'.format(list(dataset_json['data'][0]['paragraphs'][0]['qas'][0]['answers'][0].keys())))

top-level-keys: ['version', 'data']
data keys: ['title', 'paragraphs']
paragraphs keys: ['qas', 'context']
qas keys: ['question', 'id', 'answers', 'is_impossible']
answers keys: ['text', 'answer_start']

In [14]:
# Count Corpora
print('Nbr Corpora: {}'.format(len(dataset_json['data'])))

Nbr Corpora: 442

In [15]:
# Count Corpora
print(len(dataset_json['data']))

442

In [17]:
# Print Corpora Titles
pprint(list(pd.json_normalize(dataset_json,'data')['title']))

['Beyoncé',
 'Frédéric_Chopin',
 'Sino-Tibetan_relations_during_the_Ming_dynasty',
 'IPod',
 'The_Legend_of_Zelda:_Twilight_Princess',
 'Spectre_(2015_film)',
 '2008_Sichuan_earthquake',
 'New_York_City',
 'To_Kill_a_Mockingbird',
 'Solar_energy',
 'Kanye_West',
 'Buddhism',
 'American_Idol',
 'Dog',
 '2008_Summer_Olympics_torch_relay',
 'Genome',
 'Comprehensive_school',
 'Republic_of_the_Congo',
 'Prime_minister',
 'Institute_of_technology',
 'Wayback_Machine',
 'Dutch_Republic',
 'Symbiosis',
 'Canadian_Armed_Forces',
 'Cardinal_(Catholicism)',
 'Iranian_languages',
 'Lighting',
 'Separation_of_powers_under_the_United_States_Constitution',
 'Architecture',
 'Human_Development_Index',
 'Southern_Europe',
 'BBC_Television',
 'Arnold_Schwarzenegger',
 'Plymouth',
 'Heresy',
 'Warsaw_Pact',
 'Materialism',
 'Christian',
 'Sony_Music_Entertainment',
 'Oklahoma_City',
 'Hunter-gatherer',
 'United_Nations_Population_Fund',
 'Russian_Soviet_Federative_Socialist_Republic',
 'Alexander_Graham_Bell',
 'Pub',
 'Internet_service_provider',
 'Comics',
 'Saint_Helena',
 'Aspirated_consonant',
 'Hydrogen',
 'Space_Race',
 'Web_browser',
 'BeiDou_Navigation_Satellite_System',
 'Canon_law',
 'Communications_in_Somalia',
 'Catalan_language',
 'Boston',
 'Universal_Studios',
 'Estonian_language',
 'Paper',
 'Adult_contemporary_music',
 'Daylight_saving_time',
 'Royal_Institute_of_British_Architects',
 'National_Archives_and_Records_Administration',
 'Tristan_da_Cunha',
 'University_of_Kansas',
 'Nanjing',
 'Arena_Football_League',
 'Dialect',
 'Bern',
 'Westminster_Abbey',
 'Political_corruption',
 'Classical_music',
 'Slavs',
 'Southampton',
 'Treaty',
 'Josip_Broz_Tito',
 'Marshall_Islands',
 'Szlachta',
 'Virgil',
 'Alps',
 'Gene',
 'Guinea-Bissau',
 'List_of_numbered_streets_in_Manhattan',
 'Brain',
 'Near_East',
 'Zhejiang',
 'Ministry_of_Defence_(United_Kingdom)',
 'High-definition_television',
 'Wood',
 'Somalis',
 'Middle_Ages',
 'Phonology',
 'Computer',
 'Black_people',
 'The_Times',
 'New_Delhi',
 'Bird_migration',
 'Atlantic_City,_New_Jersey',
 'Immunology',
 'MP3',
 'House_music',
 'Letter_case',
 'Chihuahua_(state)',
 'Imamah_(Shia_doctrine)',
 'Pitch_(music)',
 'England_national_football_team',
 'Houston',
 'Copper',
 'Identity_(social_science)',
 'Himachal_Pradesh',
 'Communication',
 'Grape',
 'Computer_security',
 'Orthodox_Judaism',
 'Animal',
 'Beer',
 'Race_and_ethnicity_in_the_United_States_Census',
 'United_States_dollar',
 'Imperial_College_London',
 'Hanover',
 'Emotion',
 'Everton_F.C.',
 'Old_English',
 'Aircraft_carrier',
 'Federal_Aviation_Administration',
 'Lancashire',
 'Mesozoic',
 'Videoconferencing',
 'Gregorian_calendar',
 'Xbox_360',
 'Military_history_of_the_United_States',
 'Hard_rock',
 'Great_Plains',
 'Infrared',
 'Biodiversity',
 'ASCII',
 'Digestion',
 'Gymnastics',
 'FC_Barcelona',
 'Federal_Bureau_of_Investigation',
 'Mary_(mother_of_Jesus)',
 'Melbourne',
 'John,_King_of_England',
 'Macintosh',
 'Anti-aircraft_warfare',
 'Sanskrit',
 'Valencia',
 'General_Electric',
 'United_States_Army',
 'Franco-Prussian_War',
 'Adolescence',
 'Antarctica',
 'Eritrea',
 'Uranium',
 'Order_of_the_British_Empire',
 'Circadian_rhythm',
 'Elizabeth_II',
 'Sexual_orientation',
 'Dell',
 'Capital_punishment_in_the_United_States',
 'Age_of_Enlightenment',
 'Nintendo_Entertainment_System',
 'Athanasius_of_Alexandria',
 'Seattle',
 'Memory',
 'Multiracial_American',
 'Ashkenazi_Jews',
 'Pharmaceutical_industry',
 'Umayyad_Caliphate',
 'Asphalt',
 'Queen_Victoria',
 'Freemasonry',
 'Israel',
 'Hellenistic_period',
 'Bill_%26_Melinda_Gates_Foundation',
 'Montevideo',
 'Poultry',
 'Dutch_language',
 'Buckingham_Palace',
 'Incandescent_light_bulb',
 'Arsenal_F.C.',
 'Clothing',
 'Chicago_Cubs',
 'Korean_War',
 'Copyright_infringement',
 'Greece',
 'Royal_Dutch_Shell',
 'Mammal',
 'East_India_Company',
 'Hokkien',
 'Professional_wrestling',
 'Film_speed',
 'Mexico_City',
 'Napoleon',
 'Germans',
 'Southeast_Asia',
 'Brigham_Young_University',
 'Department_store',
 'Intellectual_property',
 'Florida',
 'Queen_(band)',
 'Presbyterianism',
 'Thuringia',
 'Predation',
 'Marvel_Comics',
 'British_Empire',
 'Botany',
 'Madonna_(entertainer)',
 'Law_of_the_United_States',
 'Myanmar',
 'Jews',
 'Cotton',
 'Data_compression',
 'The_Sun_(United_Kingdom)',
 'Pesticide',
 'Somerset',
 'Yale_University',
 'Late_Middle_Ages',
 'Ann_Arbor,_Michigan',
 'Gothic_architecture',
 'Cubism',
 'Political_philosophy',
 'Alloy',
 'Norfolk_Island',
 'Edmund_Burke',
 'Samoa',
 'Pope_Paul_VI',
 'Electric_motor',
 'Switzerland',
 'Mali',
 'Raleigh,_North_Carolina',
 'Nutrition',
 'Crimean_War',
 'Nonprofit_organization',
 'Literature',
 'Avicenna',
 'Chinese_characters',
 'Bermuda',
 'Nigeria',
 'Utrecht',
 'Molotov%E2%80%93Ribbentrop_Pact',
 'Capacitor',
 'History_of_science',
 'Digimon',
 'Glacier',
 'Comcast',
 'Tuberculosis',
 'Affirmative_action_in_the_United_States',
 'FA_Cup',
 'New_Haven,_Connecticut',
 'Alsace',
 'Carnival',
 'Baptists',
 'Child_labour',
 'North_Carolina',
 'Heian_period',
 'On_the_Origin_of_Species',
 'Dissolution_of_the_Soviet_Union',
 'Crucifixion_of_Jesus',
 'Supreme_court',
 'Textual_criticism',
 'Gramophone_record',
 'Turner_Classic_Movies',
 'Hindu_philosophy',
 'Political_party',
 'A_cappella',
 'Dominican_Order',
 'Eton_College',
 'Cork_(city)',
 'Galicia_(Spain)',
 'USB',
 'Sichuan',
 'Unicode',
 'Detroit',
 'London',
 'Culture',
 'Sahara',
 'Rule_of_law',
 'Tibet',
 'Exhibition_game',
 'Northwestern_University',
 'Strasbourg',
 'Oklahoma',
 'History_of_India',
 'Gamal_Abdel_Nasser',
 'Pope_John_XXIII',
 'Time',
 'European_Central_Bank',
 'St._John%27s,_Newfoundland_and_Labrador',
 'John_von_Neumann',
 'PlayStation_3',
 'Royal_assent',
 'Group_(mathematics)',
 'Central_African_Republic',
 'Asthma',
 'LaserDisc',
 'George_VI',
 'Federalism',
 'Annelid',
 'God',
 'War_on_Terror',
 'Labour_Party_(UK)',
 'Estonia',
 'Alaska',
 'Karl_Popper',
 'Mandolin',
 'Insect',
 'Race_(human_categorization)',
 'Paris',
 'Apollo',
 'United_States_presidential_election,_2004',
 'Liberal_Party_of_Australia',
 'Samurai',
 'Software_testing',
 'States_of_Germany',
 'Glass',
 'Planck_constant',
 'Renewable_energy_commercialization',
 'Palermo',
 'Green',
 'Zinc',
 'Neoclassical_architecture',
 'Serbo-Croatian',
 'CBC_Television',
 'Appalachian_Mountains',
 'IBM',
 'Energy',
 'East_Prussia',
 'Ottoman_Empire',
 'Philosophy_of_space_and_time',
 'Neolithic',
 'Friedrich_Hayek',
 'Diarrhea',
 'Madrasa',
 'Miami',
 'Philadelphia',
 'John_Kerry',
 'Rajasthan',
 'Guam',
 'Empiricism',
 'Idealism',
 'Czech_language',
 'Education',
 'Tennessee',
 'Post-punk',
 'Canadian_football',
 'Seven_Years%27_War',
 'Richard_Feynman',
 'Muammar_Gaddafi',
 'Cyprus',
 'Steven_Spielberg',
 'Elevator',
 'Neptune',
 'Railway_electrification_system',
 'Spanish_language_in_the_United_States',
 'Charleston,_South_Carolina',
 'The_Blitz',
 'Endangered_Species_Act',
 'Vacuum',
 'Han_dynasty',
 'Quran',
 'Geography_of_the_United_States',
 'Compact_disc',
 'Transistor',
 'Modern_history',
 '51st_state',
 'Antenna_(radio)',
 'Flowering_plant',
 'Hyderabad',
 'Santa_Monica,_California',
 'Washington_University_in_St._Louis',
 'Central_Intelligence_Agency',
 'Pain',
 'Database',
 'Tucson,_Arizona',
 'Armenia',
 'Bacteria',
 'Printed_circuit_board',
 'Greeks',
 'Premier_League',
 'Roman_Republic',
 'Pacific_War',
 'San_Diego',
 'Muslim_world',
 'Iran',
 'British_Isles',
 'Association_football',
 'Georgian_architecture',
 'Liberia',
 'Alfred_North_Whitehead',
 'Antibiotics',
 'Windows_8',
 'Swaziland',
 'Translation',
 'Airport',
 'Kievan_Rus%27',
 'Super_Nintendo_Entertainment_System',
 'Sumer',
 'Tuvalu',
 'Immaculate_Conception',
 'Namibia',
 'Russian_language',
 'United_States_Air_Force',
 'Light-emitting_diode',
 'Great_power',
 'Bird',
 'Qing_dynasty',
 'Indigenous_peoples_of_the_Americas',
 'Red',
 'Egypt',
 'Mosaic',
 'University',
 'Religion_in_ancient_Rome',
 'YouTube',
 'Separation_of_church_and_state_in_the_United_States',
 'Protestantism',
 'Bras%C3%ADlia',
 'Economy_of_Greece',
 'Party_leaders_of_the_United_States_House_of_Representatives',
 'Armenians',
 'Jehovah%27s_Witnesses',
 'Dwight_D._Eisenhower',
 'The_Bronx',
 'Financial_crisis_of_2007%E2%80%9308',
 'Portugal',
 'Humanism',
 'Geological_history_of_Earth',
 'Police',
 'Genocide',
 'Saint_Barth%C3%A9lemy',
 'Tajikistan',
 'University_of_Notre_Dame',
 'Anthropology',
 'Montana',
 'Punjab,_Pakistan',
 'Richmond,_Virginia',
 'Infection',
 'Hunting',
 'Kathmandu',
 'Myocardial_infarction',
 'Matter']

In [0]:
def convert_squad_to_tidy_df(json_dict, corpus):
    """This function converts the SQuAD JSON data to a Tidy Data Pandas Dataframe.
    
    :param obj json_dict: squad json data
    :param str corpus: name of squad corpora to select subset from json object
    
    :returns: converted json data
    :rtype: pandas dataframe
    
    """
    data = [c for c in json_dict['data'] if c['title']==corpus][0]
    df = pd.DataFrame()    
    data_paragraphs = data['paragraphs']
    for article_dict in data_paragraphs:
        row = []
        for answers_dict in article_dict['qas']:                    
          if answers_dict['is_impossible'] == True:
            for answer in answers_dict['plausible_answers']:
                row.append((c['title'],
                            article_dict['context'], 
                            answers_dict['question'], 
                            answers_dict['id'],
                            '',
                            '',                          
                            answer['answer_start'],
                            answer['text'],
                            answers_dict['is_impossible']
                           ))            
          else:
            for answer in answers_dict['answers']:
                row.append((c['title'],
                            article_dict['context'], 
                            answers_dict['question'], 
                            answers_dict['id'],
                            answer['answer_start'],
                            answer['text'],
                            '',
                            '',
                            answers_dict['is_impossible']
                           ))
        df = pd.concat([df, pd.DataFrame.from_records(row, columns=['title','context', 'question', 'id', 'answer_start', 'answer','plausible_answer_start', 'plausible_answer','is_impossible'])], axis=0, ignore_index=True)
        # df.drop_duplicates(inplace=True)
    return df

In [0]:
appended_data = []

lastindex = 0
for c in dataset_json['data']: 
  data = convert_squad_to_tidy_df(dataset_json, c['title'])
  # store DataFrame in list
  appended_data.append(data)

appended_data = pd.concat(appended_data)

In [0]:
appended_data.reset_index(drop=True,inplace = True)

In [21]:
appended_data['is_impossible'].value_counts()

False    86821
True     43498
Name: is_impossible, dtype: int64

In [22]:
appended_data[appended_data['id'] == '5a8d7bf7df8bba001a0f9ab1']

                                       title  ... is_impossible
2075  The_Legend_of_Zelda:_Twilight_Princess  ...          True

[1 rows x 9 columns]

In [0]:
appended_data.to_csv( project_path + '/squad_train_data.csv')

# Possible EDAs:
 #Count Plot
 #Number of characters/words
 #Unique words
 #Word Cloud
 #Common Stopwords
 #Analysing punctuation
 #Ngram Analysis
 #Answer type distribution
 #Avg tokens/sentences
 #Comparison within datasets used

In [0]:
#1
#import seaborn as sns
#sns.countplot(data = appended_data, x = "context")
squad_df = pd.read_csv(project_path+'squad_train_data.csv')
squad_df.drop('Unnamed: 0',axis=1,inplace=True)

In [25]:
appended_data.tail()

         title  ... is_impossible
130314  Matter  ...          True
130315  Matter  ...          True
130316  Matter  ...          True
130317  Matter  ...          True
130318  Matter  ...          True

[5 rows x 9 columns]

In [0]:
# Features..
feature = ['context','question']

# Target
target ='answer'

In [27]:
import nltk
nltk.download('punkt')
from nltk.stem import PorterStemmer
# Prepare data

# Lemma

# stop word removal

# vectorization tfidvectoriation

# vectorization word2vec

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

In [0]:
# Stemming
#Function to Stem words
def get_stemmed_text(corpus):
    stemmer = PorterStemmer()
    return [' '.join([stemmer.stem(word) for word in review.split()]) for review in corpus]

In [29]:
appended_data['question']

0                  When did Beyonce start becoming popular?
1         What areas did Beyonce compete in when she was...
2         When did Beyonce leave Destiny's Child and bec...
3             In what city and state did Beyonce  grow up?
4                In which decade did Beyonce become famous?
                                ...
130314    Physics has broadly agreed on the definition o...
130315                 Who coined the term partonic matter?
130316                What is another name for anti-matter?
130317    Matter usually does not need to be used in con...
130318    What field of study has a variety of unusual c...
Name: question, Length: 130319, dtype: object

In [30]:
appended_data['context']

0         Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...
1         Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...
2         Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...
3         Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...
4         Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...
                                ...
130314    The term "matter" is used throughout physics i...
130315    The term "matter" is used throughout physics i...
130316    The term "matter" is used throughout physics i...
130317    The term "matter" is used throughout physics i...
130318    The term "matter" is used throughout physics i...
Name: context, Length: 130319, dtype: object

In [31]:
appended_data.head()

     title  ... is_impossible
0  Beyoncé  ...         False
1  Beyoncé  ...         False
2  Beyoncé  ...         False
3  Beyoncé  ...         False
4  Beyoncé  ...         False

[5 rows x 9 columns]

In [0]:
X = appended_data[['context','question']].copy()

In [33]:
X.head()

                                             context                                           question
0  Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...           When did Beyonce start becoming popular?
1  Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...  What areas did Beyonce compete in when she was...
2  Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...  When did Beyonce leave Destiny's Child and bec...
3  Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...      In what city and state did Beyonce  grow up?
4  Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...         In which decade did Beyonce become famous?

In [0]:
y = appended_data[['answer']].copy()

In [0]:
# y[y['answer'] == ''][:] = 'IMPOSSIBLE'

y.loc[y['answer'] == '', 'answer'] = 'IMPOSSIBLE'

In [36]:
y

                     answer
0         in the late 1990s
1       singing and dancing
2                      2003
3            Houston, Texas
4                late 1990s
...                     ...
130314           IMPOSSIBLE
130315           IMPOSSIBLE
130316           IMPOSSIBLE
130317           IMPOSSIBLE
130318           IMPOSSIBLE

[130319 rows x 1 columns]

In [0]:
X.to_csv(project_path + '/X.csv')
y.to_csv(project_path + '/y.csv')

In [0]:
X = pd.read_csv(project_path + '/X.csv')
X.drop('Unnamed: 0',inplace=True,axis=1)
y = pd.read_csv(project_path + '/y.csv')
y.drop('Unnamed: 0',inplace=True,axis=1)

In [69]:
X.shape
y.shape

(130319, 1)

In [71]:
import nltk
import string
from nltk.corpus import stopwords
from nltk.tokenize import RegexpTokenizer
from nltk.stem import WordNetLemmatizer
from nltk.stem.porter import PorterStemmer
nltk.download('punkt')
nltk.download('wordnet')
import re
import unicodedata
from nltk.stem import WordNetLemmatizer
nltk.download('stopwords')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [0]:
from nltk.tokenize import word_tokenize 

stop_words = set(stopwords.words('english'))

In [0]:
# remove unwanted chars
# convert to lowercase
# remove unwanted spaces
# remove stop words
import nltk
from nltk.tokenize import RegexpTokenizer
from nltk.stem import WordNetLemmatizer,PorterStemmer
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize 

stop_words = set(stopwords.words('english')) 

def preprocess_text(corpus, text_lower_case=True, 
                      special_char_removal=True, stopword_removal=True, remove_digits=False):    
    normalized_text = []
    # normalize each document in the corpus
    for doc in corpus:
        # lowercase the text    
        if text_lower_case:
            doc = doc.lower()
        # remove special characters and\or digits    
        if special_char_removal:
            # insert spaces between special characters to isolate them    
            special_char_pattern = re.compile(r'([{.(-)!}])')
            doc = special_char_pattern.sub(" \\1 ", doc)
            doc = remove_special_characters(doc, remove_digits=remove_digits) 

        if stopword_removal:
            doc = remove_stopwords(doc)

        # remove extra whitespace
        doc = re.sub(' +', ' ', doc)            
        normalized_text.append(doc)
        
    return normalized_text

def remove_special_characters(text, remove_digits=False):
    #Using regex
    pattern = r'[^a-zA-z0-9\s]' if not remove_digits else r'[^a-zA-z\s]'
    text = re.sub(pattern, '', text)
    return text

def remove_stopwords(text):  
    word_tokens = word_tokenize(text) 
    filtered_sentence = [w for w in word_tokens if not w in stop_words]   
    filtered_sentence = [] 
    for w in word_tokens: 
        if w not in stop_words: 
            filtered_sentence.append(w)                 
    return ' '.join(filtered_sentence)

In [43]:
remove_stopwords("sandipan laptop complex this is a nice day")

'sandipan laptop complex nice day'

In [44]:
print(preprocess_text(["sandipan UPPER laptop complex this is a nice day","abc def 123 $%% ddd", "   def 123"]))

['sandipan upper laptop complex nice day', 'abc def ddd', 'def']

In [0]:
X['clean_context'] = preprocess_text(X['context'])

In [0]:
X['clean_question']= preprocess_text(X['question'])

In [0]:
y=y.astype(str)

In [0]:
y['clean_answer']= preprocess_text(y['answer'])

In [88]:
y.head(10)

                answer      clean_answer
0    in the late 1990s        late 1990s
1  singing and dancing   singing dancing
2                 2003              2003
3       Houston, Texas     houston texas
4           late 1990s        late 1990s
5      Destiny's Child    destinys child
6  Dangerously in Love  dangerously love
7       Mathew Knowles    mathew knowles
8           late 1990s        late 1990s
9          lead singer       lead singer

In [59]:
y.dtypes

answer    object
dtype: object