<a href="https://colab.research.google.com/github/sandipanbasu/aiml-capstone/blob/master/mrc_biLSTM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1. Import Libraries, setting Google Drive

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [ ]:
tf.__version__

'2.2.0'

In [2]:
import warnings
from tqdm import tqdm
import tensorflow as tf
tf.debugging.set_log_device_placement(True)
import pickle
from tensorflow.keras import layers
from tensorflow.keras import preprocessing
import numpy as np
import pandas as pd
import json
from sklearn.model_selection import train_test_split
import pprint
from tensorflow.keras.layers import Bidirectional,LSTM,Dense,Dropout,BatchNormalization,Flatten,Input
from tensorflow.keras.models import Model
from tensorflow.keras.layers import concatenate
from numpy import array
import nltk
import re
from nltk.tokenize import RegexpTokenizer
from nltk.stem import WordNetLemmatizer,PorterStemmer
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize 
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

True

In [3]:
# we will store the params as we go along in this object
params = {}
project_path = "/content/drive/My Drive/AIML-MRC-Capstone/datasets/Squad2.0/TrainingDataset/"
model_path = "/content/drive/My Drive/AIML-MRC-Capstone/models/"
tensorboard_logpath  = "/content/drive/My Drive/AIML-MRC-Capstone/models/tensorboard-logs/"

# Objective - LSTM Baseline 0 

*   **Inputs: A question q = {q1, ..., qQ} of length Q and a context paragraph p = {p1, ..., pP } of length P.**
*   **Output: An answer span {as, ae} where as is the index of the first answer token in p, ae is the index of the last answer token in p, 0 <= as, ae >= m, and ae >= as.**

## 0 Common Functions

#### 0.1 Custom function for preprocessing of context and question

In [ ]:
# remove unwanted chars
# convert to lowercase
# remove unwanted spaces
# remove stop words
stop_words = set(stopwords.words('english')) 

## reference 
def decontracted(phrase):
    """
    This function remooves punctuation from given sentence.
    """

    if(phrase is np.nan):
      return 'impossible'      

    try:      
      # specific
      phrase = re.sub(r"won\'t", "will not", phrase)
      phrase = re.sub(r"can\'t", "can not", phrase)

      # general
      phrase = re.sub(r"n\'t", " not", phrase)
      phrase = re.sub(r"\'re", " are", phrase)
      phrase = re.sub(r"\'s", " is", phrase)
      phrase = re.sub(r"\'d", " would", phrase)
      phrase = re.sub(r"\'ll", " will", phrase)
      phrase = re.sub(r"\'t", " not", phrase)
      phrase = re.sub(r"\'ve", " have", phrase)
      phrase = re.sub(r"\'m", " am", phrase)
      
      # string operation
      phrase = phrase.replace('\\r', ' ')
      phrase = phrase.replace('\\"', ' ')
      phrase = phrase.replace('\\n', ' ')

      phrase = re.sub('[^A-Za-z0-9]+', ' ', phrase.lower())
    except:
      print(phrase)  
    
    return phrase

def preprocess_text(corpus, text_lower_case=True, 
                      special_char_removal=True, stopword_removal=True, remove_digits=False):    
    normalized_text = []
    # normalize each document in the corpus
    for doc in corpus:
        # doc = decontracted(doc)
        # lowercase the text    
        if text_lower_case:
            doc = doc.lower()
        # remove special characters and\or digits    
        if special_char_removal:
            # insert spaces between special characters to isolate them    
            special_char_pattern = re.compile(r'([{.(-)!}])')
            doc = special_char_pattern.sub(" \\1 ", doc)
            doc = remove_special_characters(doc, remove_digits=remove_digits) 

        if stopword_removal:
            doc = remove_stopwords(doc)

        normalized_text.append(doc)
        
    return normalized_text

def remove_special_characters(text, remove_digits=False):
    #Using regex
    pattern = r'[^a-zA-z0-9\s]' if not remove_digits else r'[^a-zA-z\s]'
    text = re.sub(pattern, '', text)
    return text

def remove_stopwords(text):  
    word_tokens = word_tokenize(text) 
    filtered_sentence = [w for w in word_tokens if not w in stop_words]   
    filtered_sentence = [] 
    for w in word_tokens: 
        if w not in stop_words: 
            filtered_sentence.append(w)                 
    return ' '.join(filtered_sentence)

### 0.2 Answer Span from Context and Answer, and reverse for predicted spans

In [ ]:
def tokenize(sentence):
    """
    Returns tokenised words.
    """
    return nltk.word_tokenize(sentence)

def answer_span(context,ans):
    """
    This funtion returns anwer span start index and end index.
    """
    ans_token = tokenize(ans)
    con_token = tokenize(context)
    ans_len = len(ans_token)
    
    if ans_len!=0 and ans_token[0] in con_token:
    
        indices = [i for i, x in enumerate(con_token) if x == ans_token[0]]        
        try:

            if(len(indices)>1):
                start = [i for i in indices if (con_token[i:i+ans_len] == ans_token) ]
                end = start[0] + ans_len - 1
                return start[0],end

            else:
                start = con_token.index(ans_token[0])
                end = start + ans_len - 1
                return start,end
        except:
            return -1,-1
    else:
        return -1,-1

def span_to_answer(span, context):
  con_token = tokenize(context)  
  return ' '.join(con_token[span[0]:span[1]+1])

### 0.3 Update and persist params

In [ ]:
### SAVE PARAMS
# Writing to sample.json 

def updateparams():
  with open(model_path + "params.json", "w") as p: 
    p.write(json.dumps(params))
  print("params.jsop updated and can be found in ", model_path + "params.json")  

# updateparams()

In [ ]:
def showparams():
  pprint.pprint(params)

## 1 Context, Answer EDA

**<font color="red">BE CAREFUL BEFORE EXECUTING THIS PLEASE. THERE IS HIGH CHANCE THAT THIS WILL OVERWRITE EXISTING DATAFRAMES</font>**

In [ ]:
squad_df = pd.read_csv(project_path+'squad_data_final_withstopword_withpunctuation.csv')
squad_df.drop('Unnamed: 0',axis=1,inplace=True)

In [ ]:
### specific cleaning of context and question
### DO NOT REMOVE STOP WORDS 
###
squad_df['clean_context'] = preprocess_text(squad_df['context'],stopword_removal=False, special_char_removal=False)
squad_df['clean_question'] = preprocess_text(squad_df['question'],stopword_removal=False, special_char_removal=False)
#

In [ ]:
squad_df['clean_answer'] = preprocess_text(squad_df['answer'],stopword_removal=False, special_char_removal = False)

# preprocess_text([squad_df['answer'].iloc[23]],stopword_removal=False, special_char_removal = False)
# preprocess_text([np.nan],stopword_removal=False, special_char_removal = False)

In [ ]:
squad_df.head(6)

     title  ... answer_word_span
0  Beyoncé  ...         (44, 47)
1  Beyoncé  ...         (33, 35)
2  Beyoncé  ...         (93, 93)
3  Beyoncé  ...         (27, 28)
4  Beyoncé  ...         (46, 47)
5  Beyoncé  ...         (56, 58)

[6 rows x 16 columns]

In [ ]:
ans_span = []
for i in range(len(squad_df)):
    s,e = answer_span(squad_df["clean_context"].iloc[i],squad_df["clean_answer"].iloc[i])
    ans_span.append((s,e))

squad_df["answer_word_span"] = ans_span

In [ ]:
# check no of right answer span detection 
print(squad_df[squad_df["answer_word_span"] == (-1,-1)].shape)
print(squad_df[squad_df['clean_answer'] == 'impossible' ].shape)

print('No of records which does not have answer but span not found in context = ', 
      squad_df[(squad_df['clean_answer'] != 'impossible') & (squad_df["answer_word_span"] == (-1,-1))].shape)

(0, 16)
(43502, 16)
No of records which does not have answer but span not found in context =  (0, 16)

In [ ]:
# write the latest greatet
squad_df.to_csv(project_path+'squad_data_final.csv')

In [ ]:
squad_df.head(25)

In [ ]:
pprint.pprint(squad_df['clean_context'].iloc[39])

('beyonc giselle knowles was born in houston texas to celestine ann tina '
 'knowles n e beyinc a hairdresser and salon owner and mathew knowles a xerox '
 'sales manager beyonc is name is a tribute to her mother is maiden name '
 'beyonc is younger sister solange is also a singer and a former member of '
 'destiny is child mathew is african american while tina is of louisiana '
 'creole descent with african native american french cajun and distant irish '
 'and spanish ancestry through her mother beyonc is a descendant of acadian '
 'leader joseph broussard she was raised in a methodist household ')

## 2 Load Squad Data - Cleaned and curated (output of preprocessing step)

### 2.1 Load Data

**<font color=red>REFER TO CREATE TEST UTIL NOTEBOOK FOR COMMON DATA LOAD FUNCTION</font>**

In [ ]:
# #### NOTE THE 2 data frames's
# df_nostopwords = 'squad_data_final_context_withoutstopwords.csv'
# # df_withstopwords = 'squad_data_final_withstopword_withpunctuation.csv'
# squad_df = pd.read_csv(project_path+'squad_data_final_context_withoutstopwords.csv')
# squad_df.drop('Unnamed: 0',axis=1,inplace=True)


# squad_df["answer_word_span"] = squad_df["answer_word_span"].apply(lambda x :eval(x))
# print(squad_df.info())
# print(squad_df['clean_context'].iloc[0])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130306 entries, 0 to 130305
Data columns (total 16 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   title                   130306 non-null  object
 1   context                 130306 non-null  object
 2   question                130306 non-null  object
 3   id                      130306 non-null  object
 4   answer_start            130306 non-null  int64
 5   answer                  86807 non-null   object
 6   plausible_answer_start  43498 non-null   float64
 7   plausible_answer        43498 non-null   object
 8   is_impossible           130306 non-null  bool
 9   clean_context           130306 non-null  object
 10  clean_question          130306 non-null  object
 11  clean_answer            130306 non-null  object
 12  answer_len              130306 non-null  int64
 13  answer_end              130306 non-null  int64
 14  answer_span             130306 non-null  object
 15  answer_word_span        130306 non-null  object
dtypes: bool(1), float64(1), int64(3), object(11)
memory usage: 15.0+ MB
None
beyonc giselle knowlescarter bijnse beeyonsay born september 4 1981 american singer songwriter record producer actress born raised houston texas performed various singing dancing competitions child rose fame late 1990s lead singer rb girlgroup destinys child managed father mathew knowles group became one worlds bestselling girl groups time hiatus saw release beyoncs debut album dangerously love 2003 established solo artist worldwide earned five grammy awards featured billboard hot 100 numberone singles crazy love baby boy

In [ ]:
squad_df.head(3)

     title  ... answer_word_span
0  Beyoncé  ...         (-1, -1)
1  Beyoncé  ...         (21, 23)
2  Beyoncé  ...         (55, 55)

[3 rows x 16 columns]

### 2.2 Load Train, Validation and Test data

In [4]:
train = pd.read_csv(model_path +'train-withoutstopwords.csv')
train.drop('Unnamed: 0',axis=1,inplace=True)
train["answer_word_span"] = train["answer_word_span"].apply(lambda x :eval(x))

val = pd.read_csv(model_path +'val-withoutstopwords.csv')
val.drop('Unnamed: 0',axis=1,inplace=True)
val["answer_word_span"] = val["answer_word_span"].apply(lambda x :eval(x))

test = pd.read_csv(model_path +'test-withoutstopwords.csv')
test.drop('Unnamed: 0',axis=1,inplace=True)
test["answer_word_span"] = test["answer_word_span"].apply(lambda x :eval(x))

print(train.shape)
print(val.shape)
print(test.shape)

(78183, 16)
(26061, 16)
(26062, 16)

### 2.3 Load Tokenizer

In [ ]:
# from tqdm import tqdm
# params['tokenizer_num_words'] = 80000
# tokenizer = preprocessing.text.Tokenizer(num_words=params['tokenizer_num_words'])

# # NOTE: tokenizer is been made out of original dataset
# for text in tqdm([squad_df['clean_context'], squad_df['clean_question']]):  
#   tokenizer.fit_on_texts(text.values)

# # total tokenizer words
# params['vocab_size'] = len(tokenizer.word_index)

# ### SAVE TOKENIZERS
# with open(model_path + "tokenizer.pkl","wb") as f:
#     pickle.dump(tokenizer,f)

100%|██████████| 2/2 [00:08<00:00,  4.42s/it]

In [6]:
with open(model_path + "tokenizer.pkl","rb") as infile:
    tokenizer = pickle.load(infile)

len(tokenizer.word_index)

100850

In [7]:
tokenizer.word_index['how']

39

### 2.4 Update parameters

In [8]:
# From the EDA and historgrams we can conclude that - 
# 99% percentile of context word length = 285
# 99% percentile or question word lengt = 20
context_length = 285
question_length = 20
params['train_shape'] = train.shape
params['val_shape'] = val.shape
params['test_shape'] = test.shape
params['context_length_99'] = context_length # initialize with a high percentile
params['question_length_99'] = question_length # initialize with a high percentile
params['embedding_size'] = 300
params['rnn_units'] = 256
params['context_pad_seq'] = 'pre'
params['question_pad_seq'] = 'pre'
params['vocab_size'] = len(tokenizer.word_index)

pprint.pprint(params)

{'context_length_99': 285,
 'context_pad_seq': 'pre',
 'embedding_size': 300,
 'question_length_99': 20,
 'question_pad_seq': 'pre',
 'rnn_units': 256,
 'test_shape': (26062, 16),
 'train_shape': (78183, 16),
 'val_shape': (26061, 16),
 'vocab_size': 100850}

## 3 Vectorization / Encoding

#### 3.1 Integer Sequence of Context and Question

In [9]:
train_clean_context_sequence = tokenizer.texts_to_sequences(train["clean_context"].values)
test_clean_context_sequence = tokenizer.texts_to_sequences(test["clean_context"].values)
val_clean_context_sequence = tokenizer.texts_to_sequences(val["clean_context"].values)


train_clean_question_sequence = tokenizer.texts_to_sequences(train["clean_question"].values)
test_clean_question_sequence = tokenizer.texts_to_sequences(test["clean_question"].values)
val_clean_question_sequence = tokenizer.texts_to_sequences(val["clean_question"].values)

In [ ]:
train_clean_question_sequence[5:10]

[[2, 14, 41, 71, 1, 1557, 3, 1, 307, 140, 434, 221, 26, 2091, 10, 1, 307],
 [93, 5851, 7370, 11, 11843, 3864, 656, 1705, 1325],
 [2, 132, 2363, 1, 4074, 3, 1, 822, 1373, 10651, 66, 8022],
 [20260, 1470, 188, 1, 370, 20260, 93, 540, 2],
 [208, 14, 6452, 211, 757, 187]]

In [ ]:
train['clean_question'][5:10]

107708    what is called when the direction of the elctr...
6212      which fan favorite was unexpectedly eliminated...
1056      what term describes the qualities of the relat...
12538          alb comes from the word alb which means what
57848                     where is byus main campus located
Name: clean_question, dtype: object

#### 3.2 Find Max Sequence length of Context and Question

In [10]:
# max length of context
params['context_max_length'] = max(max(len(txt) for txt in train_clean_context_sequence),
                                  max(len(txt) for txt in test_clean_context_sequence),
                                  max(len(txt) for txt in val_clean_context_sequence))

params['question_max_length'] = max(max(len(txt) for txt in train_clean_question_sequence),
                                  max(len(txt) for txt in test_clean_question_sequence),
                                  max(len(txt) for txt in val_clean_question_sequence))


pprint.pprint(params)

{'context_length_99': 285,
 'context_max_length': 426,
 'context_pad_seq': 'pre',
 'embedding_size': 300,
 'question_length_99': 20,
 'question_max_length': 40,
 'question_pad_seq': 'pre',
 'rnn_units': 256,
 'test_shape': (26062, 16),
 'train_shape': (78183, 16),
 'val_shape': (26061, 16),
 'vocab_size': 100850}

#### 3.3 Padding of the sequences

In [11]:
train_context_sequence = preprocessing.sequence.pad_sequences(train_clean_context_sequence,
                                                              maxlen=params['context_max_length'],
                                                              padding=params['context_pad_seq'])
test_context_sequence = preprocessing.sequence.pad_sequences(test_clean_context_sequence,
                                                             maxlen=params['context_max_length'],
                                                             padding=params['context_pad_seq'])
val_context_sequence = preprocessing.sequence.pad_sequences(val_clean_context_sequence,
                                                            maxlen=params['context_max_length'],
                                                            padding=params['context_pad_seq'])

print(train_context_sequence.shape)
print(test_context_sequence.shape)
print(val_context_sequence.shape)

(78183, 426)
(26062, 426)
(26061, 426)

In [12]:
train_question_sequence = preprocessing.sequence.pad_sequences(train_clean_question_sequence,
                                                               maxlen=params['question_max_length'],
                                                               padding=params['question_pad_seq'])
test_question_sequence = preprocessing.sequence.pad_sequences(test_clean_question_sequence,
                                                              maxlen=params['question_max_length'],
                                                              padding=params['question_pad_seq'])
val_question_sequence = preprocessing.sequence.pad_sequences(val_clean_question_sequence,
                                                             maxlen=params['question_max_length'],
                                                             padding=params['question_pad_seq'])

print(train_question_sequence.shape)
print(test_question_sequence.shape)
print(val_question_sequence.shape)

(78183, 40)
(26062, 40)
(26061, 40)

#### 3.4 Create Answer Sequence

Encode y_trues as big array consisting of ans_start + ans_end. This has to be used in loss function as well. We will use the answer_word_span feature

**y_true = answer_start + answer_end**

In [13]:
# for train data
y_train = []
span_ofr = 0;
params['train_span_outofrange'] = 0
params['test_span_outofrange'] = 0
params['val_span_outofrange'] = 0

for i in range(len(train)):    
    s = np.zeros(params['context_max_length'],dtype = "int")
    e = np.zeros(params['context_max_length'],dtype = "int")
    start, end = train["answer_word_span"].iloc[i]    
    s[start] = 1
    e[end] = 1
    y_train.append(np.concatenate((s,e)))    

params['train_span_outofrange'] = span_ofr
span_ofr = 0;

# for test data
y_test = []
for i in range(len(test)):    
    s = np.zeros(params['context_max_length'],dtype = "int")
    e = np.zeros(params['context_max_length'],dtype = "int")        
    start,end = test["answer_word_span"].iloc[i]    
    s[start] = 1
    e[end] = 1
    y_test.append(np.concatenate((s,e)))

params['test_span_outofrange'] = span_ofr
span_ofr = 0;
                
# for val data
y_val = []
for i in range(len(val)):
    s = np.zeros(params['context_max_length'],dtype = "int")
    e = np.zeros(params['context_max_length'],dtype = "int")        
    start,end = val["answer_word_span"].iloc[i]    
    s[start] = 1
    e[end] = 1      
    y_val.append(np.concatenate((s,e)))

params['val_span_outofrange'] = span_ofr

In [14]:
print(len(y_train),len(y_train[0]))
print(len(y_test),len(y_test[0]))
print(len(y_val),len(y_val[0]))

78183 852
26062 852
26061 852

### 3.5 Check 1 value

In [ ]:
index = 1
answer_span(train['clean_context'].iloc[index],train['clean_answer'].iloc[index])
span_to_answer((22,22),train['clean_context'].iloc[index])

'seasons'

In [ ]:
print("Ori Cont = ")
pprint.pprint(train['context'].iloc[index])
print("CLean Cont = ")
pprint.pprint(train['clean_context'].iloc[index])
print('Question = ',train['question'].iloc[index])
print('Clean Question = ',train['clean_question'].iloc[index])
print('Answer = ',train['answer'].iloc[index])
print('Clean Answer = ',train['clean_answer'].iloc[index])
print('AS,AE = ',train['answer_word_span'].iloc[index])
print("encoded ", y_train[index])
print(span_to_answer([60,62],train['clean_context'].iloc[index]))

Ori Cont =
('An exhibition game may also be used to settle a challenge, to provide '
 'professional entertainment, to promote the sport, or to raise money for '
 'charities. Several sports leagues hold all-star games to showcase their best '
 'players against each other, while other exhibitions games may pit '
 'participants from two different leagues or countries to unofficially '
 'determine who would be the best in the world. International competitions '
 'like the Olympic Games may also hold exhibition games as part of a '
 'demonstration sport.')
CLean Cont =
('exhibition game may also used settle challenge provide professional '
 'entertainment promote sport raise money charities several sports leagues '
 'hold allstar games showcase best players exhibitions games may pit '
 'participants two different leagues countries unofficially determine would '
 'best world international competitions like olympic games may also hold '
 'exhibition games part demonstration sport')
Question =  What type of exhibition game showcases average players?
Clean Question =  what type of exhibition game showcases average players
Answer =  nan
Clean Answer =  IMPOSSIBLE
AS,AE =  (-1, -1)
encoded  [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 1]

In [ ]:
pprint.pprint(params)

{'context_length_99': 285,
 'context_max_length': 426,
 'context_pad_seq': 'pre',
 'embedding_size': 300,
 'question_length_99': 20,
 'question_max_length': 40,
 'question_pad_seq': 'pre',
 'rnn_units': 256,
 'test_shape': (26062, 16),
 'test_span_outofrange': 0,
 'tokenizer_num_words': 80000,
 'train_shape': (78183, 16),
 'train_span_outofrange': 0,
 'val_shape': (26061, 16),
 'val_span_outofrange': 0,
 'vocab_size': 100850}

In [ ]:
print(squad_df['clean_context'][10])
print(train_context_sequence[110])
print(squad_df['clean_question'][10])
print(train_question_sequence[10])

beyonc giselle knowlescarter bijnse beeyonsay born september 4 1981 american singer songwriter record producer actress born raised houston texas performed various singing dancing competitions child rose fame late 1990s lead singer rb girlgroup destinys child managed father mathew knowles group became one worlds bestselling girl groups time hiatus saw release beyoncs debut album dangerously love 2003 established solo artist worldwide earned five grammy awards featured billboard hot 100 numberone singles crazy love baby boy
[    0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0   928   295  1835  1057   369  4338   611  1010   859   658   834
  1057   111  3329    52  4206   281  6389   201 39281  1895  1968  5633
  1746   380  1056   469   189  1059   259   111   681 12083   228   403
   111   317    97 51099 12542  2262 27307  5948  2982  2227   381  3227
  2262   380  1056   369   112   259   373    29    29   396  1057   112
   112    52   924   859  9631    45   242  4247   761   380  1056   224
   381   978 11792 10284   942 12874]
what was the first album beyonc released as a solo artist
[   0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    2  326  341  170  847 1047 4361]

### 3.6 Create a common function to generate sequences (useful in prediction)

In [ ]:
# function to generate sequences withg appropiate padding
def generate_question_context_sequence(context, question):
  question_seq = tokenizer.texts_to_sequences(question)
  context_seq = tokenizer.texts_to_sequences(context)
  question_seq = preprocessing.sequence.pad_sequences(question_seq,
                                                      maxlen=params['question_max_length'],
                                                      padding=params['question_pad_seq'])
  context_seq = preprocessing.sequence.pad_sequences(context_seq,
                                                     maxlen=params['context_max_length'],
                                                     padding=params['question_pad_seq'])
  return context_seq, question_seq

In [ ]:
print(train["clean_question"].iloc[1])

c='state among best prekindergarten education national institute early education research rated first united states regard standards quality access prekindergarten education 2004 calling model early childhood schooling high school dropout rate decreased 3 1 2 5 percent 2007 2008 oklahoma ranked among 18 states 3 percent less dropout rate 2004 state ranked 36th nation relative number adults high school diplomas though 85 2 percent highest rate among southern states'
q='when did the wildcard round become a factor'
cs,qs = generate_question_context_sequence([c],[q])
print(cs.shape,qs.shape)
train_question_sequence[1] == qs

when did the wildcard round become a factor
(1, 426) (1, 40)

array([[ True,  True,  True,  True,  True,  True,  True,  True,  True,
         True,  True,  True,  True,  True,  True,  True,  True,  True,
         True,  True,  True,  True,  True,  True,  True,  True,  True,
         True,  True,  True,  True,  True,  True,  True,  True,  True,
         True,  True,  True,  True]])

In [ ]:
train_question_sequence[1]

array([    0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,    71,    16,     1, 22943,
        2043,   147,    26,  1775], dtype=int32)

In [ ]:
q

'when did the wildcard round become a factor'

## 4 Model

**Implements a baseline 0 in Deep Learning based approach per our project synopsis. This baseline model uses the following layers **
0.   Input layer
1.   Embedding Layer
2.   List LSTM
3.   a custom Bilinear Similarity layer 
4.   Prediction Layer
5.   Output layer

### 4.2 Building Model

#### Common Function - CUDNN LSTM

In [15]:
# As per https://www.tensorflow.org/api_docs/python/tf/keras/layers/LSTM, it will use CuDNN Lstm
# if below params match
# activation == tanh
# recurrent_activation == sigmoid
# recurrent_dropout == 0
# unroll is False
# use_bias is True
# Inputs are not masked or strictly right padded.

def createCUDNNLstm(units,return_sequences,dropout,name=''):
  return layers.LSTM(units=units,
                     return_sequences=return_sequences, 
                     name = name,
                     activation='tanh',
                     recurrent_activation='sigmoid',
                     recurrent_dropout=0,
                     dropout=dropout,
                     unroll=False,
                     use_bias=True)

#### Load Embedding

In [16]:
embedding_matrix = np.zeros((params['vocab_size']+1,300))

with open(model_path + "glove300dembedmatrix.pkl","rb") as f:
  embedding_matrix=pickle.load(f)

embedding_matrix.shape

(100851, 300)

#### Create TF Mirror Strategy for Multi-GPU

In [17]:
strategy = tf.distribute.MirroredStrategy()

INFO:tensorflow:Using MirroredStrategy with devices ('/job:localhost/replica:0/task:0/device:GPU:0',)

#### Questions Bi-LSTM Layers

In [29]:
# question embedding
with strategy.scope():
  q_input = layers.Input(shape=(params['question_max_length'],),name="QUESTION_INPUT")
  q_emb = layers.Embedding(input_dim=params['vocab_size']+1,
                    output_dim=300,
                    weights=[embedding_matrix],
                    trainable=False, mask_zero= False,
                    name="QUESTION_EMBEDDING")(q_input)

  # encoder 
  q_output=layers.Bidirectional(createCUDNNLstm(units=params['rnn_units'],
                                                return_sequences=False,
                                                dropout=0.2),
                                merge_mode='sum',
                                name='QUESTION_LSTM')(q_emb)

#q_output = layers.Bidirectional(LSTM(units=params['rnn_units'], 
                     #name='QUESTION_LSTM', merge_mode=concatenate))(q_emb)
print(q_output.shape)

(None, 256)

#### Context Bi-LSTM Layers

In [30]:
with strategy.scope():
  c_input = layers.Input(shape=(params['context_max_length'],),name="CONTEXT_INPUT")

  # context embedding
  c_emb = layers.Embedding(input_dim=params['vocab_size']+1,
                    output_dim=300,
                    weights=[embedding_matrix],trainable=False, mask_zero= False,
                    name="CONTEXT_EMBEDDING")(c_input)

  c_output = layers.Bidirectional(createCUDNNLstm(params['rnn_units'],
                                                  return_sequences=True,
                                                  dropout=0.2),
                                  merge_mode='sum',
                                  name='CONTEXT_LSTM')(c_emb)

print("final context output ",c_output.shape)

final context output  (None, 426, 256)

#### Bilinear Term

In [31]:
# Reference -- https://github.com/kellywzhang/reading-comprehension/blob/master/attention.py
# bilinear term ####
print("Question context shape ",q_output.shape)
print("final o/p of context ",c_output.shape)

with strategy.scope():

  ################ start prediction ######################
  start = layers.Dense(params['rnn_units'],name="BILINEAR_AS_SPAN")(q_output)
  hidden_start_time_axis = tf.expand_dims(start, 2, name='BILINEAR_AS_ADD_DIM')

  # squeeze remooves time slice we added before
  # final shape = (batch_size,decoder_timesteps)
  start_ = tf.squeeze(tf.matmul(c_output,hidden_start_time_axis,name="BILINEAR_AS_MATMUL_Q_C"),2,name="BILINEAR_AS_DEL_DIM")
      
  start_ = tf.nn.softmax(start_,axis = 1,name="BILINEAR_AS_SOFTMAX")
      
  ################ end prediction ######################
  end = layers.Dense(params['rnn_units'],name="BILINEAR_AE_SPAN")(q_output)

  hidden_end_time_axis = tf.expand_dims(end, 2, name="BILINEAR_AE_ADD_DIM")

  # squeeze remooves time slice we added before
  # final shape = (batch_size,decoder_timesteps)
  end_ = tf.squeeze(tf.matmul(c_output,hidden_end_time_axis,name="BILINEAR_AE_MATMUL_Q_C"),2,name="BILINEAR_AE_DEL_DIM")
  end_ = tf.nn.softmax(end_,axis=1,name="BILINEAR_AE_SOFTMAX")

  prob_token_span = tf.concat((start_,end_),axis = 1,name="BILINEAR_AS_AE_CONCAT")
  
print("Probab shape ",prob_token_span)


# logits = BilinearSimilarity(UNITS)(q_cont,c_)
# Y_prob = Prediction()(logits)
# print("Logits shape ",logits.shape)

Question context shape  (None, 256)
final o/p of context  (None, 426, 256)
Probab shape  Tensor("BILINEAR_AS_AE_CONCAT_1:0", shape=(None, 852), dtype=float32)

#### Predictions

In [32]:
####### Prediction ### 
token_span = 20
with strategy.scope():
  start_prob = tf.identity(prob_token_span[:,:params['context_max_length']],
                          name="START_PROBAB")
  # start_prob.name = "START_PROBAB"

  end_prob = tf.identity(prob_token_span[:,params['context_max_length']:],
                        name="END_PROBAB")
  # end_prob.name = "END_PROBAB"
  print("Probab shape ",start_prob)

  # do the outer product
  outer = tf.matmul(tf.expand_dims(start_prob, axis=2, name="PREDICT_AS_PROBAB"),tf.expand_dims(end_prob, axis=1, name="PREDICT_AS_PROBAB"),name="PREDICT_AS_AE_MATMUL")
 
  # this is done to ensure load_model does not error out on
  # inconsistency between dtype int32 and int64
  num_lower = tf.constant(0,dtype='int32')
  num_upper = tf.constant(token_span,dtype='int32')
  outer = tf.linalg.band_part(outer, num_lower, num_upper,name="PREDICT_AS_AE_TOPTRIANGLE")

  # start_position will have shape of (batch_size,)
  start_position = tf.reduce_max(outer, axis=2,name="PREDICT_AS_MAX")
  #end position will have shape of (batch_size,)
  end_position = tf.reduce_max(outer, axis=1,name="PREDICT_AE_MAX")

  y_probab = tf.concat([start_position,end_position],axis=1,name="PREDICT_AS_AE")

print(y_probab.shape)

Probab shape  Tensor("START_PROBAB_1:0", shape=(None, 426), dtype=float32)
(None, 852)

### 4.3 Custom Loss function

In [33]:
def logits_loss(y_true,logits):
    """
    Custom loss function which minimises log_loss.
    Referance https://stackoverflow.com/questions/50063613/add-loss-function-in-keras
    """
    
    #y_true = tf.cast(y_true,dtype=tf.int32)
    #logits = tf.cast(logits,dtype=tf.float32)
    
    # breaking the tensor into two half's to get start and end label.
    start_label = y_true[:,:params['context_max_length']]
    end_label = y_true[:,params['context_max_length']:]
    
    # braking the logits tensor into start and end part for loss calcultion.
    start_logit = logits[:,:params['context_max_length']]
    end_logit = logits[:,params['context_max_length']:]
    
    start_loss = tf.keras.backend.categorical_crossentropy(start_label,start_logit)
    end_loss = tf.keras.backend.categorical_crossentropy(end_label,end_logit)
    
#     start_loss = tf.losses.sparse_softmax_cross_entropy(labels=start_label, logits=start_logit)
#     end_loss = tf.losses.sparse_softmax_cross_entropy(labels=end_label, logits=end_logit)
    
    # as per paer
    
    loss = start_loss + end_loss
    
    return loss

### 4.4 Model Summary

In [34]:
model = Model(inputs = [q_input,c_input],outputs =y_probab)
model.summary()

Executing op __inference_keras_scratch_graph_33812 in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op __inference_keras_scratch_graph_33817 in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op __inference_keras_scratch_graph_33822 in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op __inference_keras_scratch_graph_33827 in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op __inference_keras_scratch_graph_33832 in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op __inference_keras_scratch_graph_33837 in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op __inference_keras_scratch_graph_33842 in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op __inference_keras_scratch_graph_33847 in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op __inference_keras_scratch_graph_33852 in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op __inference_keras_scratch_graph_33857 in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op __inference_keras_scratch_graph_33862 in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op __inference_keras_scratch_graph_33867 in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op __inference_keras_scratch_graph_33872 in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op __inference_keras_scratch_graph_33877 in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op __inference_keras_scratch_graph_33882 in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op __inference_keras_scratch_graph_33887 in device /job:localhost/replica:0/task:0/device:GPU:0
Model: "model_1"
__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
QUESTION_INPUT (InputLayer)     [(None, 40)]         0
__________________________________________________________________________________________________
QUESTION_EMBEDDING (Embedding)  (None, 40, 300)      30255300    QUESTION_INPUT[0][0]
__________________________________________________________________________________________________
CONTEXT_INPUT (InputLayer)      [(None, 426)]        0
__________________________________________________________________________________________________
QUESTION_LSTM (Bidirectional)   (None, 256)          1140736     QUESTION_EMBEDDING[0][0]
__________________________________________________________________________________________________
CONTEXT_EMBEDDING (Embedding)   (None, 426, 300)     30255300    CONTEXT_INPUT[0][0]
__________________________________________________________________________________________________
BILINEAR_AS_SPAN (Dense)        (None, 256)          65792       QUESTION_LSTM[0][0]
__________________________________________________________________________________________________
BILINEAR_AE_SPAN (Dense)        (None, 256)          65792       QUESTION_LSTM[0][0]
__________________________________________________________________________________________________
CONTEXT_LSTM (Bidirectional)    (None, 426, 256)     1140736     CONTEXT_EMBEDDING[0][0]
__________________________________________________________________________________________________
tf_op_layer_BILINEAR_AS_ADD_DIM [(None, 256, 1)]     0           BILINEAR_AS_SPAN[0][0]
__________________________________________________________________________________________________
tf_op_layer_BILINEAR_AE_ADD_DIM [(None, 256, 1)]     0           BILINEAR_AE_SPAN[0][0]
__________________________________________________________________________________________________
tf_op_layer_BatchMatMulV2_3 (Te [(None, 426, 1)]     0           CONTEXT_LSTM[0][0]
                                                                 tf_op_layer_BILINEAR_AS_ADD_DIM_1
__________________________________________________________________________________________________
tf_op_layer_BatchMatMulV2_4 (Te [(None, 426, 1)]     0           CONTEXT_LSTM[0][0]
                                                                 tf_op_layer_BILINEAR_AE_ADD_DIM_1
__________________________________________________________________________________________________
tf_op_layer_BILINEAR_AS_DEL_DIM [(None, 426)]        0           tf_op_layer_BatchMatMulV2_3[0][0]
__________________________________________________________________________________________________
tf_op_layer_BILINEAR_AE_DEL_DIM [(None, 426)]        0           tf_op_layer_BatchMatMulV2_4[0][0]
__________________________________________________________________________________________________
tf_op_layer_BILINEAR_AS_SOFTMAX [(None, 426)]        0           tf_op_layer_BILINEAR_AS_DEL_DIM_1
__________________________________________________________________________________________________
tf_op_layer_BILINEAR_AE_SOFTMAX [(None, 426)]        0           tf_op_layer_BILINEAR_AE_DEL_DIM_1
__________________________________________________________________________________________________
tf_op_layer_BILINEAR_AS_AE_CONC [(None, 852)]        0           tf_op_layer_BILINEAR_AS_SOFTMAX_1
                                                                 tf_op_layer_BILINEAR_AE_SOFTMAX_1
__________________________________________________________________________________________________
tf_op_layer_strided_slice_2 (Te [(None, 426)]        0           tf_op_layer_BILINEAR_AS_AE_CONCAT
__________________________________________________________________________________________________
tf_op_layer_strided_slice_3 (Te [(None, 426)]        0           tf_op_layer_BILINEAR_AS_AE_CONCAT
__________________________________________________________________________________________________
tf_op_layer_START_PROBAB_1 (Ten [(None, 426)]        0           tf_op_layer_strided_slice_2[0][0]
__________________________________________________________________________________________________
tf_op_layer_END_PROBAB_1 (Tenso [(None, 426)]        0           tf_op_layer_strided_slice_3[0][0]
__________________________________________________________________________________________________
tf_op_layer_PREDICT_AS_PROBAB_2 [(None, 426, 1)]     0           tf_op_layer_START_PROBAB_1[0][0]
__________________________________________________________________________________________________
tf_op_layer_PREDICT_AS_PROBAB_3 [(None, 1, 426)]     0           tf_op_layer_END_PROBAB_1[0][0]
__________________________________________________________________________________________________
tf_op_layer_BatchMatMulV2_5 (Te [(None, 426, 426)]   0           tf_op_layer_PREDICT_AS_PROBAB_2[0
                                                                 tf_op_layer_PREDICT_AS_PROBAB_3[0
__________________________________________________________________________________________________
tf_op_layer_PREDICT_AS_AE_TOPTR [(None, 426, 426)]   0           tf_op_layer_BatchMatMulV2_5[0][0]
__________________________________________________________________________________________________
tf_op_layer_PREDICT_AS_MAX_1 (T [(None, 426)]        0           tf_op_layer_PREDICT_AS_AE_TOPTRIA
__________________________________________________________________________________________________
tf_op_layer_PREDICT_AE_MAX_1 (T [(None, 426)]        0           tf_op_layer_PREDICT_AS_AE_TOPTRIA
__________________________________________________________________________________________________
tf_op_layer_PREDICT_AS_AE_1 (Te [(None, 852)]        0           tf_op_layer_PREDICT_AS_MAX_1[0][0
                                                                 tf_op_layer_PREDICT_AE_MAX_1[0][0
==================================================================================================
Total params: 62,923,656
Trainable params: 2,413,056
Non-trainable params: 60,510,600
__________________________________________________________________________________________________

### 4.5 Model Compile

**Tensorboard Logs and Model compilation**

In [35]:
# using tensorboard instance for callbacks
from time import time
from datetime import datetime
from tensorflow.python.keras.callbacks import TensorBoard

log_dir = tensorboard_logpath +"lstm-baseline0"
print('Tensprflow logs ',log_dir)
tensorboard = TensorBoard(log_dir=log_dir,histogram_freq=1)
with strategy.scope():
  # model compilation
  model.compile(optimizer="adamax",loss=logits_loss,metrics=['accuracy'])

Tensprflow logs  /content/drive/My Drive/AIML-MRC-Capstone/models/tensorboard-logs/lstm-baseline0

### 4.6 Generator Function for use in Model.fit

In [36]:
## Reference 
def generator_function(length,batch_size = 64,data_type = 'Train'):
    """
    This function is generates batches of data to avoid strain on memory.
    """
    X1, X2, y = list(), list(), list()
    flag = True
    if data_type == 'Val':
        flag = False
    n = 0
    # loop forever over datapoints.
    while 1:
        for i in range(length):
            n += 1
            if flag:
                X1.append(train_question_sequence[i])
                X2.append(train_context_sequence[i])                
                y.append(y_train[i])
            else:
                X1.append(val_question_sequence[i])
                X2.append(val_context_sequence[i])                
                y.append(y_val[i])
            if n == batch_size:
                yield ((array(X1),array(X2)),array(y))
                X1,X2, y = list(), list(), list()
                n=0

### 4.7 Model Training

In [37]:
params['training.epochs']=25
params['training.batch_size']=64
params['training.train_length']=len(y_train)
params['training.val_length']=len(y_val)
params['training.train_steps']=params['training.train_length']//params['training.batch_size']
params['training.val_steps']=params['training.val_length']//32

pprint.pprint(params)

### SAVE PARAMS
# Writing to sample.json 
updateparams()

{'context_length_99': 285,
 'context_max_length': 426,
 'context_pad_seq': 'pre',
 'embedding_size': 300,
 'question_length_99': 20,
 'question_max_length': 40,
 'question_pad_seq': 'pre',
 'rnn_units': 256,
 'test_shape': (26062, 16),
 'test_span_outofrange': 0,
 'train_shape': (78183, 16),
 'train_span_outofrange': 0,
 'training.batch_size': 64,
 'training.epochs': 25,
 'training.train_length': 78183,
 'training.train_steps': 1221,
 'training.val_length': 26061,
 'training.val_steps': 814,
 'val_shape': (26061, 16),
 'val_span_outofrange': 0,
 'vocab_size': 100850}

NameError: ignored

In [ ]:
with strategy.scope():
  for i in range(params['training.epochs']):
      print("Epoch {} start at time ".format(i),datetime.now())
      
      train_generator = generator_function(params['training.train_length'],
                                          params['training.batch_size'])
      
      val_generator = generator_function(params['training.val_length'],
                                        32,
                                        "Val")
      model.fit(x=train_generator, epochs=1, 
                          steps_per_epoch=params['training.train_steps'],
                          verbose=1,
                          callbacks=[tensorboard],
                          validation_data=val_generator,
                          validation_steps=params['training.val_steps'])

Epoch 0 start at time  2020-06-20 19:36:32.457391
Executing op TensorDataset in device /job:localhost/replica:0/task:0/device:CPU:0
Executing op FlatMapDataset in device /job:localhost/replica:0/task:0/device:CPU:0
Executing op PrefetchDataset in device /job:localhost/replica:0/task:0/device:CPU:0
Executing op MapDataset in device /job:localhost/replica:0/task:0/device:CPU:0
Executing op RebatchDataset in device /job:localhost/replica:0/task:0/device:CPU:0
Executing op PrefetchDataset in device /job:localhost/replica:0/task:0/device:CPU:0
Executing op AutoShardDataset in device /job:localhost/replica:0/task:0/device:CPU:0
Executing op OptimizeDataset in device /job:localhost/replica:0/task:0/device:CPU:0
Executing op ModelDataset in device /job:localhost/replica:0/task:0/device:CPU:0
Executing op GeneratorDataset in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op GeneratorDataset in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op PrefetchDataset in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op VarHandleOp in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op VarHandleOp in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op VarHandleOp in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op VarHandleOp in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op VarHandleOp in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op VarHandleOp in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op VarHandleOp in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op VarHandleOp in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op VarHandleOp in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op VarHandleOp in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op VarHandleOp in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op VarHandleOp in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op VarHandleOp in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op VarHandleOp in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op VarHandleOp in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op VarHandleOp in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op VarHandleOp in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op VarHandleOp in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op VarHandleOp in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op VarHandleOp in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op VarHandleOp in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op VarHandleOp in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op VarHandleOp in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op VarHandleOp in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op VarHandleOp in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op VarHandleOp in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op VarHandleOp in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op VarHandleOp in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op VarHandleOp in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op VarHandleOp in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op VarHandleOp in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op VarHandleOp in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op VarHandleOp in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op VarHandleOp in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op VarHandleOp in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op VarHandleOp in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op VarHandleOp in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op VarHandleOp in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op VarHandleOp in device /job:localhost/replica:0/task:0/device:GPU:0
INFO:tensorflow:Reduce to /job:localhost/replica:0/task:0/device:CPU:0 then broadcast to ('/job:localhost/replica:0/task:0/device:CPU:0',).
INFO:tensorflow:Reduce to /job:localhost/replica:0/task:0/device:CPU:0 then broadcast to ('/job:localhost/replica:0/task:0/device:CPU:0',).
Executing op __inference_train_function_43851 in device /job:localhost/replica:0/task:0/device:GPU:0
  49/1221 [>.............................] - ETA: 2:28 - accuracy: 0.4059 - loss: 8.6248

### 4.6 Serialize and Persist Models

In [ ]:
model_json = model.to_json()
with open(model_path + "bilstm/bilstm-glove.json", "w") as json_file:
    json_file.write(model_json)

In [ ]:
model.save_weights(model_path + "bilstm/context_withoutstopwords_model_epoch_25_bilstm_glove_nomask_gpu.h5")

In [ ]:
# full model save
model.save(model_path + "bilstm/full_context_withoutstopwords_model_epoch_25_bilstm_glove_nomask_gpu.h5")

In [ ]:
# Store in Tensor Flow Serving
tf.keras.models.save_model(
    model,
    model_path+'bilstm/tf-serve',
    overwrite=True,
    include_optimizer=True,
    save_format=None,
    signatures=None,
    options=None
)

### 4.7 Load existing models

In [ ]:
modelname = 'context_withoutstopwords_model_epoch_10_bilstm_cpu.h5'
# modelname = 'model_epoch_24.h5'
model.load_weights(model_path + "bilstm/" + modelname)

### 4.8 Evaluation

#### 4.8.1 Eval on Test data

In [ ]:
y_prediction = model.predict([test_question_sequence,test_context_sequence])
# print y_prediction[0] should return probabilty of of each index been a start and end token

Executing op RangeDataset in device /job:localhost/replica:0/task:0/device:CPU:0
Executing op RepeatDataset in device /job:localhost/replica:0/task:0/device:CPU:0
Executing op MapDataset in device /job:localhost/replica:0/task:0/device:CPU:0
Executing op PrefetchDataset in device /job:localhost/replica:0/task:0/device:CPU:0
Executing op FlatMapDataset in device /job:localhost/replica:0/task:0/device:CPU:0
Executing op TensorDataset in device /job:localhost/replica:0/task:0/device:CPU:0
Executing op RepeatDataset in device /job:localhost/replica:0/task:0/device:CPU:0
Executing op ZipDataset in device /job:localhost/replica:0/task:0/device:CPU:0
Executing op ParallelMapDataset in device /job:localhost/replica:0/task:0/device:CPU:0
Executing op ModelDataset in device /job:localhost/replica:0/task:0/device:CPU:0
Executing op AnonymousIteratorV2 in device /job:localhost/replica:0/task:0/device:CPU:0
Executing op MakeIterator in device /job:localhost/replica:0/task:0/device:CPU:0
Executing op __inference_predict_function_14543 in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op ConcatV2 in device /job:localhost/replica:0/task:0/device:GPU:0
Executing op DeleteIterator in device /job:localhost/replica:0/task:0/device:CPU:0

In [ ]:
# y_test was a list changing to numpy array
y_test_fixed = np.array(y_test)

In [ ]:
# argmax is used to get the index where the max value in a list appears, and hence 
# for every index i, we can get the place of start and end token of the max probab
start_pred = []
end_pred = []
for i in range(26062):
    start_pred.append(np.argmax(y_prediction[i,:params['context_max_length']]))
    end_pred.append(np.argmax(y_prediction[i,params['context_max_length']:]))
    
# compute for y_test though in this case it the max of 0 and 1 for 
# the frist half od array size for start, and rest for end
start = []
end = []
for i in range(26062):
    start.append(np.argmax(y_test_fixed[i,:params['context_max_length']]))
    end.append(np.argmax(y_test_fixed[i,params['context_max_length']:]))

In [ ]:
print(start[100:120])
print(end[100:120])

[425, 425, 48, 425, 9, 12, 7, 425, 425, 47, 425, 425, 425, 425, 7, 16, 425, 425, 153, 425]
[425, 425, 50, 425, 10, 12, 8, 425, 425, 48, 425, 425, 425, 425, 9, 16, 425, 425, 153, 425]

In [ ]:
y_predicted_new = np.zeros((26062,params['context_max_length']))
for i in range(26062):
    y_predicted_new[i,start_pred[i]:end_pred[i]+1] = 1
    
y_test_new = np.zeros((26062,params['context_max_length']))
for i in range(26062):
    y_test_new[i,start[i]:end[i]+1] = 1

In [ ]:
len(y_test_new[testindex])

NameError: ignored

#### 4.8.2 Create a common function to predict and test

In [ ]:
def predit_test(context, question):
  # get sequence for context and question
  c_ = preprocess_text(context)
  q_ = preprocess_text(question,stopword_removal=False)
  c,q = generate_question_context_sequence(c_, q_)  
  y_ = model.predict([q,c])    
  # # for i in range(26062):
  s = np.argmax(y_[0,:params['context_max_length']])
  e = np.argmax(y_[0,params['context_max_length']:])
  answer = span_to_answer((s,e),c_[0])
  
  # print(c.shape,q.shape,y_.shape,s,e,answer)  
  # print(s, e)
  return c_,q_,[s,e],y_,answer

##### 4.8.2.1 TEST 1

In [ ]:
c='In the Mahayana, the Buddha tends not to be viewed as merely human, but as the earthly projection of a beginningless and endless, omnipresent being (see Dharmakaya) beyond the range and reach of thought. Moreover, in certain Mahayana sutras, the Buddha, Dharma and Sangha are viewed essentially as One: all three are seen as the eternal Buddha himself.'
q='in what sutras are the buddha dharma and sangha viewed as one'

# c_,q_,span,y_,answer = predit_test(test['context'].iloc[39],test['question'].iloc[39])
c_,q_,span,y_,answer = predit_test([c],[q])
print('ori c = ')
pprint.pprint(test['context'].iloc[39])
print('ori c c = ')
pprint.pprint(test['clean_context'].iloc[39])
print('ori q = ',test['clean_question'].iloc[39])
print('new c')
pprint.pprint(c_[0])
print('new q',q_)

print('predicted answer' ,answer)

ori c =
('In Mark, Jesus is crucified along with two rebels, and the day goes dark for '
 'three hours. Jesus calls out to God, then gives a shout and dies. The '
 'curtain of the Temple is torn in two. Matthew follows Mark, adding an '
 'earthquake and the resurrection of saints. Luke also follows Mark, though he '
 'describes the rebels as common criminals, one of whom defends Jesus, who in '
 'turn promises that he (Jesus) and the criminal will be together in paradise. '
 'Luke portrays Jesus as impassive in the face of his crucifixion. John '
 'includes several of the same elements as those found in Mark, though they '
 'are treated differently.')
ori c c =
('mark jesus crucified along two rebels day goes dark three hours jesus calls '
 'god gives shout dies curtain temple torn two matthew follows mark adding '
 'earthquake resurrection saints luke also follows mark though describes '
 'rebels common criminals one defends jesus turn promises jesus criminal '
 'together paradise luke portrays jesus impassive face crucifixion john '
 'includes several elements found mark though treated differently')
ori q =  what does luke say one of the rebels does
new c
('mahayana buddha tends viewed merely human earthly projection beginningless '
 'endless omnipresent see dharmakaya beyond range reach thought moreover '
 'certain mahayana sutras buddha dharma sangha viewed essentially one three '
 'seen eternal buddha')
new q ['in what sutras are the buddha dharma and sangha viewed as one']
predicted answer

##### 4.8.2.2 TEST 2

In [ ]:
c = 'Mary went to the bathroom. John is in the playground.John moved to the hallway. John picked up the football.Mary travelled to the office'
q = 'Where is john?'
c_,q_,span,y_,answer = predit_test([c],[q])
print('predicted answer' ,answer)

predicted answer

##### 4.8.2.3 TEST 3

In [ ]:
c='The Union health ministry said that so far, 95,527 COVID-19 patients have recovered in the country.The recovery rate is now 48.07 percent, Lav Agrawal, Joint Secretary, Health Ministry claimed. We have asked all states to analyse the trajectory of the cases in their respective states. If a state thinks that it needs to set up temporary COVID-19 care centres then it must do so, he added.'
q='what is the recovery rate'
c_,q_,span,y_,answer = predit_test([c],[q])
print('predicted answer' ,answer)

predicted answer

In [ ]:
c='The Union health ministry said that so far, 95,527 COVID-19 patients have recovered in the country.The recovery rate is now 48.07 percent, Lav Agrawal, Joint Secretary, Health Ministry claimed. We have asked all states to analyse the trajectory of the cases in their respective states. If a state thinks that it needs to set up temporary COVID-19 care centres then it must do so, he added.'
q='wh is the name'
c_,q_,span,y_,answer = predit_test([c],[q])
print('predicted answer' ,answer)

predicted answer

#### 4.8.3 See true vs predict for one samples in test dataset

In [ ]:
testindex = 54
print("Ori Cont = ")
pprint.pprint(test['context'].iloc[testindex])
print("CLean Cont = ")
pprint.pprint(test['clean_context'].iloc[testindex])
print('Question = ',test['question'].iloc[testindex])
print('Clean Question = ',test['clean_question'].iloc[testindex])
print('Answer = ',test['answer'].iloc[testindex])
print('Clean Answer = ',test['clean_answer'].iloc[testindex])
print('AS,AE = ',test['answer_word_span'].iloc[testindex])
print('pAS,pAE = ',(start_pred[testindex],end_pred[testindex]))
print("Predict answer =",span_to_answer([start_pred[testindex],end_pred[testindex]],test['clean_context'].iloc[testindex]))
# print("encoded len", len(y_train[testindex]))
# print("encoded ", len(y_test[testindex]))
print("test data encoded ",y_test_new[testindex])
print("predict data  encoded ",y_predicted_new[testindex])

Ori Cont =
('In the following months, NATO took a wide range of measures to respond to '
 'the threat of terrorism. On 22 November 2002, the member states of the '
 'Euro-Atlantic Partnership Council (EAPC) decided on a Partnership Action '
 'Plan against Terrorism, which explicitly states, "EAPC States are committed '
 'to the protection and promotion of fundamental freedoms and human rights, as '
 'well as the rule of law, in combating terrorism." NATO started naval '
 'operations in the Mediterranean Sea designed to prevent the movement of '
 'terrorists or weapons of mass destruction as well as to enhance the security '
 'of shipping in general called Operation Active Endeavour.')
CLean Cont =
('following months nato took wide range measures respond threat terrorism 22 '
 'november 2002 member states euroatlantic partnership council eapc decided '
 'partnership action plan terrorism explicitly states eapc states committed '
 'protection promotion fundamental freedoms human rights well rule law '
 'combating terrorism nato started naval operations mediterranean sea designed '
 'prevent movement terrorists weapons mass destruction well enhance security '
 'shipping general called operation active endeavour')
Question =  What were NATO's efforts to respond to terrorism called?
Clean Question =  what were natos efforts to respond to terrorism called
Answer =  nan
Clean Answer =  IMPOSSIBLE
AS,AE =  (-1, -1)
pAS,pAE =  (425, 425)
Predict answer =
test data encoded  [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
predict data  encoded  [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1.]

#### 4.8.4 Accuracy Metrices

In [ ]:
warnings.filterwarnings("ignore")
from sklearn.metrics import f1_score,accuracy_score,precision_score
params['prediction.accuracy.score'] = accuracy_score(y_test_new,y_predicted_new)
params['prediction.macrof1.score'] = f1_score(y_test_new,y_predicted_new,average="macro")
params['prediction.microf1.score'] = f1_score(y_test_new,y_predicted_new,average="micro")

print("Micro f1-score on test data is ",params['prediction.microf1.score'])
print("Macro f1-score on test data is ",params['prediction.macrof1.score'])
print("Accuracy on test data is ",params['prediction.accuracy.score'])

# update params
updateparams()

Micro f1-score on test data is  0.33526426128213616
Macro f1-score on test data is  0.001697647578199892
Accuracy on test data is  0.46489141278489754
params.jsop updated and can be found in  /content/drive/My Drive/AIML-MRC-Capstone/models/params.json

In [ ]:
pprint.pprint(params)

{'context_length_99': 285,
 'context_max_length': 426,
 'context_pad_seq': 'pre',
 'embedding_size': 300,
 'prediction.accuracy.score': 0.46489141278489754,
 'prediction.macrof1.score': 0.001697647578199892,
 'prediction.microf1.score': 0.33526426128213616,
 'question_length_99': 20,
 'question_max_length': 40,
 'question_pad_seq': 'pre',
 'rnn_units': 256,
 'test_shape': (26062, 16),
 'test_span_outofrange': 0,
 'train_shape': (78183, 16),
 'train_span_outofrange': 0,
 'val_shape': (26061, 16),
 'val_span_outofrange': 0,
 'vocab_size': 100850}

#### 4.8.5 Store the result to build more meterics

In [ ]:
from prettytable import PrettyTable
summary = PrettyTable()
summary.title = "Test vs Prediction"
summary.field_names = ["ID",
                       "Clean Question",
                       "Clean Context",
                       "True Answer",
                       "True AS and AE",
                       "Predict Answer",
                       "Predict AS and AE"]
result_df = pd.DataFrame(columns=summary.field_names)

In [ ]:
for i in tqdm(range(26062)):  
  values = [test['id'].iloc[i], 
            test['clean_question'].iloc[i], 
            test['clean_context'].iloc[i], 
            test['clean_answer'].iloc[i], 
            test['answer_word_span'].iloc[i],
            span_to_answer([start_pred[i],end_pred[i]],test['clean_context'].iloc[i]),
            (start_pred[i],end_pred[i])]
  zipped = zip(summary.field_names, values)
  a_dictionary = dict(zipped)
  result_df = result_df.append(a_dictionary,ignore_index=True)

100%|██████████| 26062/26062 [02:43<00:00, 159.62it/s]

In [ ]:
result_df.to_csv(model_path + "bilstm/results.csv")  
result_df.head()

                         ID  ... Predict AS and AE
0  572c02d82babe914003c297e  ...        (425, 425)
1  5a87a0cc1d3cee001a6a129f  ...        (425, 425)
2  5719e54410f8ca1400304e91  ...        (425, 425)
3  5727a6233acd2414000de8d7  ...        (425, 425)
4  5ad145ef645df0001a2d14d6  ...        (425, 425)

[5 rows x 7 columns]

## 5 More Evaluations

**Read the result dataframe**

In [ ]:
result_df = result_df.read_csv(model_path + "results.csv")  
result_df.head()

AttributeError: ignored

### 5.1 EM (Exact Match)

In [ ]:
result_df[result_df['Predict Answer'] == result_df['True Answer']]

                             ID  ... Predict AS and AE
258    56db221be7c41114004b4ddf  ...            (0, 0)
358    5730d756b7151e1900c0156a  ...            (0, 0)
471    573032da947a6a140053d279  ...            (0, 0)
636    57289825ff5b5019007da321  ...            (0, 0)
796    56f8c2519e9bad19000a0447  ...            (0, 0)
1302   56cee6a3aab44d1400b88c3b  ...            (0, 0)
2648   5726e93cdd62a815002e94c6  ...            (0, 0)
3797   57300a9f947a6a140053cfca  ...            (0, 0)
4177   56ce792caab44d1400b887d9  ...            (0, 0)
4565   56d295de59d6e414001460e8  ...            (0, 0)
5313   56f96ea89e9bad19000a08fb  ...            (0, 0)
5356   5706bc1f2eaba6190074acd3  ...            (0, 0)
5706   56e11b94cd28a01900c675cd  ...            (0, 0)
5899   5726fad05951b619008f840b  ...            (0, 0)
6421   5706845d52bb891400689a26  ...            (0, 0)
6958   56e8638c37bdd419002c44e0  ...            (0, 0)
7234   5726e38cf1498d1400e8eee6  ...            (0, 0)
8368   572672d9708984140094c66d  ...            (0, 0)
8391   56e7974337bdd419002c41c0  ...            (0, 0)
8424   572f54dba23a5019007fc551  ...            (0, 0)
8909   5719c35b10f8ca1400304e53  ...            (0, 0)
11696  573032da947a6a140053d278  ...            (0, 0)
12868  57326423e99e3014001e6763  ...            (0, 0)
13027  572770d6708984140094dda5  ...            (0, 0)
15844  572911821d04691400779012  ...            (0, 0)
16251  56cc12376d243a140015ee92  ...            (0, 0)
19155  56dfe4e97aa994140058e22e  ...            (0, 0)
19898  56cc8b576d243a140015f025  ...            (0, 0)
19922  56cfe709234ae51400d9c04f  ...            (0, 0)
19923  56f73afcaef2371900625a1d  ...            (0, 0)
22261  570f40f65ab6b81900390eb5  ...            (0, 0)
23579  572701af5951b619008f8481  ...            (0, 0)
24225  57099526ed30961900e84361  ...            (0, 0)
24556  57267b3c708984140094c78b  ...            (0, 0)
24619  573176cba5e9cc1400cdbf8b  ...            (0, 0)

[35 rows x 7 columns]

In [ ]:
ematch = result_df[result_df['Predict Answer'] == result_df['True Answer']].shape[0]

In [ ]:
params['prediction.em.score'] = ematch / params['test_shape'][0]
updateparams()

params.jsop updated and can be found in  /content/drive/My Drive/AIML-MRC-Capstone/models/params.json

In [ ]:
showparams()

{'context_length_99': 285,
 'context_max_length': 426,
 'context_pad_seq': 'pre',
 'embedding_size': 300,
 'prediction.accuracy.score': 0.46489141278489754,
 'prediction.em.score': 0.001342951423528509,
 'prediction.macrof1.score': 0.001697647578199892,
 'prediction.microf1.score': 0.33526426128213616,
 'question_length_99': 20,
 'question_max_length': 40,
 'question_pad_seq': 'pre',
 'rnn_units': 256,
 'test_shape': (26062, 16),
 'test_span_outofrange': 0,
 'train_shape': (78183, 16),
 'train_span_outofrange': 0,
 'val_shape': (26061, 16),
 'val_span_outofrange': 0,
 'vocab_size': 100850}

# **<font color="GREEN">END OF THE NOTEBOOK </font>**